/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .nav-item{
        font-size: 0.7cm;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
      
    }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .carousel-item {
   
        height: 500px;
        width: 500px;
        padding: 30px;
        border-style:double;
        border-radius: 30px;
        margin: 50px;
    
    }
    .carousel-inner {
       border-radius: 30px;
    }

}

@media only screen and (max-width: 400px) {
    .carousel-item {
   
        height: 500px;
        width: 500px;
        padding: 30px;
        border-style:double;
        border-radius: 30px;
        margin: 50px;
    
    }
    .carousel-inner {
       border-radius: 30px;
    }

}

