header {
    background-image: url(./MEDIA/IMG/backgroundactitutd.jpg);
    grid-column: 1/13;
    display: flex;
    grid-template-columns: 307px auto 30%;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    width: 100%;
    justify-content: center;
}



body > div:nth-child(1) > header:nth-child(1) > section:nth-child(2) {
    margin-top: 10%;
    color:white
   }
   

header img{
    border-radius: 10px;
    width: 180px;
}
.section3 {
    grid-row: 2/3;
   }
   
.btn-danger{
    margin-left: 58%;
}

/* NAVBAR.------------------------------------------------------------------ */
body .navContainer{
    display: grid;
   width: 100%;
}

nav {
    grid-column: 1/13;
    background-color: #85d790;
    padding: 10px 0;
   }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    position:relative;
}

nav li{
    margin: 0 1%;
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight:800;
    
}
 
nav ul ul {
    width: 100%;
    margin:0;
    position: absolute;
    left: 0;
    z-index: 1000;
    background-color: #85d790;
}

nav a:hover {
    color: white;
    /* display:block; */
}
nav a:focus{
    background-color: cornflowerblue;
}
nav li:hover{
    background-color: #0e5368;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 0%;
}
.hamburger, .close{
    display:none;
}
/* MAIN---------------------------------------------------------------------------------- */
main {
    background-color: rgb(63, 85, 83);
    grid-column: 1/10;
    height: 400px;
}

/* ASIDE--------------------------------------------------------------------------------- */
aside {
    background-color: rgb(124, 103, 75);
    grid-column: 10/13;
}

/* FOOTER-------------------------------------------------------------------------------- */
footer {
    background-color:brown;
    grid-column: 1/13;
}

