/* GENERAL CONTAINER MAIN AND FOTTER SETTING  */
.mainFooterContainer{
    display:flex;
    flex-direction: row;
    height:100%;
    flex-wrap: nowrap;
    margin: 0;
}





/* GENERAL MAIN SETTING----------------------------------------------------------------------- */
main{

    background: linear-gradient(#2825a2,green);

    height: 100%;
    width: 80%; 

    

}

img{
    width: 20rem;
    height: auto;
    display: block;
}

/* PARTICULAR SETTING--------------------------------------------------------------------- */
.background1{
    background-image: url(./MEDIA/IMG/background.jpg);
}
.background2{
    background-image: url(./MEDIA/IMG/background2.jpg);
}
.background3{
    background-image: url(./MEDIA/IMG/imagen2.jpg);
}
.background4{
    background-image: url(./MEDIA/IMG/imagen3.jpg);
}


.container_title{
    
    /* margin: 10% 0;
    padding: 15% 0%;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-attachment: fixed;
    background-size: cover; */

  
    
        margin: 10% 0;
        padding: 15% 0%;
        background-repeat: no-repeat;
        background-position: 50% 75%;
        background-attachment: fixed;
        background-size: cover;
        /*! border-start-end-radius: 132px; */
        /*! background: #47165e38; */
        border-top-right-radius: 90px;
        /*! border-bottom-left-radius: 90px; */
        border-bottom-right-radius: 9px;
        /*! border-style: ; */
        border: #2c6442a6;
        border-style: double;
        /*! border: 10px; */
    

}

.title{
    text-align: center;
    font-size: xx-large;
    
    font-style: normal;
}




aside{
    clear:both;
    background: linear-gradient(#2825a2,green);
    
}
aside p {
    padding: 10%;
    border: solid;
    margin: 20%;

}

.desenfoque{
    background: #10622859;
    width: 100%;
    margin: 0;
    
}
/* .desenfoque{
    text-align: center;
    font-size: xx-large;
    
    font-style: normal;
} */

/* ASIDE SETTING ---------------------------------------------------------------------*/
aside{
    width: 20%;
    padding: 30px;
    
}