

nav{
    border: solid black;
    background-color: #ecd1c6;
    margin-right: 75%;
    

}
nav li{
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight:800;
    display: block;
}
nav a:hover {
    color: white;
}
nav a:focus{
    background-color: cornflowerblue;
}
nav li:hover{
    background-color: cornflowerblue;
    padding: 10px;
    margin: 0%;
}
/* #column1{
    background-color: blanchedalmond;
    margin: 200px;
    font-size: 300px;

}
#column2{
    
} */