
/* RESPONSIVE DESIGNE */
@media (max-width: 750px) { 
    
    header {
        background-image: url(./MEDIA/IMG/backgroundactitutd.jpg);
        display: flex;
        align-items: center;
    }

    header img {
        border-radius: 10px;
        width: 140px;
    }

/* navBar---------------------------------------------------------------------------------- */
.dropdown-menu{
    display: none;
    position:absolute;
    z-index: 2000;
}

.hamburger, .close{       
    display: block;
    font-size: 300%;
    position: absolute;
    top: 010px;
    right: 20px;
    color: white;
}

nav {
    /* position the close button to nav */
   display: flex;
   justify-content: space-between;
   position: absolute;
   z-index: 1000;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   /* overflow: hidden; */
   /* animation */
   transform: translateY(-100%);
   transition: transform 0.2s ease;
   /* overflow: visible; */

}       
 
nav ul {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    bottom: 360px;
}
    
nav a {
    font-size: 50px;
    font-weight: 800;
    display: block;
}

nav ul ul {
    width: 100%;
    margin:0;
    position: absolute;
    left: 0;
    z-index: 1000;
    background-color: #41974c;
    margin-top: 365px;  
}

nav a:hover {
    color: white;
    /* display:block; */
}
nav li:hover{
    background-color: #0e5368;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 0%;
}
nav:target{
    transform: translateY(0);
}
 

/* FOOTER------------------------------------------------------------------------ */
footer {
    background-color:rgb(77, 165, 42);
    grid-column: 1/13;
}





 









 } 
