/*  VARIABLES------------ */
/*  CONTENEDOR DE TRES VENTANAS PROMOCIONALES------------ */
.cn3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translatex(80px);
          transform: translatex(80px);
}

/*  PLAN VERANO */
.promo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: aliceblue;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  padding: 0px;
}

#PlanVerano {
  width: 300px;
  height: 50px;
  background-color: #34b56a;
  padding-left: 50px;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/*  PROMOCIONES LESIONES DEPORTIVAS ------------*/
.LesionesDeportivas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: aliceblue;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  padding: 0px;
}

#promolesionesdeportivas {
  width: 300px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #34b56a;
  padding-left: 50px;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/*  PROMOCIONES EN GENERAL ------------*/
.promo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: aliceblue;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  padding: 0px;
}

#PlanVerano {
  width: 300px;
  height: 50px;
  background-color: #34b56a;
  padding-left: 50px;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/*  PROMOCIONES LESIONES DEPORTIVAS ------------*/
.LesionesDeportivas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: aliceblue;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  padding: 0px;
}

#promolesionesdeportivas {
  width: 300px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #34b56a;
  padding-left: 50px;
}

.imagenpromociones2021 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/*# sourceMappingURL=ventanaspromocionales.css.map */