$azul: #06457b;
$verde: #34b56a;

main {
    background-color: $azul;
    color: $verde;
    border: #34b56a;
    padding: 100px;
    border-style: solid;
}
.botoreserva {
    background-color: $verde;
    border-style: solid;
    border-radius: 30px;
}
.usuario{
    background-color:$verde;
    color: white;
    border-style: solidS ;
}