$azul: #06457b;
$verde: #34b56a;

body {
 background: $azul;
}
#tabla>tr th {
    padding: 10px;
    line-height: 1px;
    height: 10px;
    width: 10px;
}
.textotabla {
    color: #31a565;
    line-height: 20px;
    
}
#tabla>tr th {
    padding: 10px;
    line-height: 1px;
    height: 10px;
    width: 10px;
 }